<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<div>
    <div class="container">
        <div class="row">
          <div class="col-sm">
         
          </div>
          <div class="col-md">
              <h2>Conversor unidades de fuerza</h2>
              <div>
                <label>Unidad Base:
                  <input type="string" [(ngModel)]="datoSend.unidad_dato" placeholder="Unidad Base"/>
                </label><br>
                <label>Unidad Destino:
                  <input type="string" [(ngModel)]="datoSend.unidad_conversion" placeholder="Unidad Destino"/>
                </label><br>
                <label>Cantidad a Convertir:
                  <input type="number" [(ngModel)]="datoSend.dato" placeholder="Cantidad a Convertir"/>
                </label><br>

              </div>
              <button  class="btn btn-success" (click)="Convertir()">Convertir</button>

          </div>
          <div class="col-sm">
           
          </div>
        </div>

       
      </div>
  
  
</div>


<div class="container">
    <div class="row">
      <div class="col-sm">
     
      </div>
      <div class="col-md">
          <p>Resultado:</p>
          <p> {{datoReceived.dato}} {{datoReceived.unidad_dato}} equivalen a {{datoReceived.dato_convertido}} {{datoReceived.unidad_datoconvertido}}</p>
      </div>
      <div class="col-sm">
       
      </div>
    </div>
  </div>
